# OSX
.DS_Store

# Android/IJ
*.iml
.gradle
local.properties
.idea/
.cxx/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
web-build/

# Environment
.env
.env.local
*.env.*

# Build
dist/
build/
*.apk
*.aab

# VSCode
.vscode/

# Testing
coverage/

# Misc
*.log
logs/
